/* For styling the rendered Markdown */

/* ------------------- Roboto Medium 500 font ------------------- */
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  font-size: medium;
  src: url(https://fonts.gstatic.com/s/roboto/v27/KFOmCnqEu92Fr1Mu7GxKOzY.woff2) format('woff2');
  unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
}

/* ------------------- Roboto Mono font ------------------- */
@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@300&display=swap');

body {
  font-size: large;
  font-family: "Roboto", sans-serif;
}

/*------------------- Implement counters and numbering for h1-h6 titles ------------------- */
body {
  counter-reset: h2;
}

h2 {
  counter-reset: h3;
}

h3 {
  counter-reset: h4;
}

h4 {
  counter-reset: h5;
}

h5 {
  counter-reset: h6;
}

h2:before {
  content: counter(h2, decimal) ". ";
  counter-increment: h2;
}

h3:before {
  content: counter(h2, decimal) "." counter(h3, decimal) ". ";
  counter-increment: h3;
}

h4:before {
  content: counter(h2, decimal) "." counter(h3, decimal) "." counter(h4, decimal) ". ";
  counter-increment: h4;
}

h5:before {
  content: counter(h2, decimal) "." counter(h3, decimal) "." counter(h4, decimal) "." counter(h5, decimal) ". ";
  counter-increment: h5;
}

h6:before {
  content: counter(h2, decimal) "." counter(h3, decimal) "." counter(h4, decimal) "." counter(h5, decimal) "."
    counter(h6, decimal) ". ";
  counter-increment: h6;
}

/* ------------------- Implement similar counters and numbering in the TOC ------------------- */
nav.table-of-contents li ul {
  counter-reset: toc-counter;
}
nav.table-of-contents li {
  display: block;
}
nav.table-of-contents :not(li) ul li:before {
  content: counters(toc-counter, ".") " ";
  counter-increment: toc-counter;
}

/* ------------------- Emphasis and strong ------------------- */
b, strong {
  font-weight: bold;
  color: #ff5050;
}

/* ------------------- Definiton title ------------------- */
dt {
  font-size: larger;
  font-weight: bold;
  border-bottom: 1px solid rgba(105, 105, 105, 0.788);
  padding-bottom: 2px;
  margin-top: 2px;
  margin-bottom: 2px;
}

dt::before {
  content: "\1F4A1 ";
  margin-right: 2px;
  font-size: larger;
}

/* ------------------- Definiton body ------------------- */
dl {
  border: 2px solid dimgrey;
  border-left-width: thick;
  padding: 6px;
  color: #000000;
  background-color: #bfc2c5;
  
  border-radius: 2px; 
  word-wrap: break-word;
  box-shadow: 3px 3px 7px 0 rgba(0,0,0,0.3); 
}

dl strong {
  font-weight: bold;
  color: #000000;
}

/* ------------------- ==Marked== ------------------- */
mark {
  padding: 1px 2px;
  background-color: beige;
}

/* ------------------- Code block ------------------- */
code {
  font-size: large;
  font-family: 'Roboto Mono', monospace;
}

/* ------------------- Inline code ------------------- */
.inline-code {
  font-family: 'Roboto Mono', monospace;
  font-size: large;
  border: 1px solid white;
  padding: 4px;
}

/* ------------------- Spoilers custom ------------------- */
.summary-title {
  font: inherit;
  font-size: larger;
}

/* ------------------- Image center and adding background ------------------- */
dia {
  text-align: center;
}

dia > p > img {
  margin: auto;
  background-color: gray;
  border: 1px dashed black;
  padding: 5px;
}

cntr {
  text-align: center;
}

/* ------------------- Mermaid dark theme ------------------- */
div.mermaid {
  background-color: #1D2024 !important;
  text-align: center;
}

div.mermaid text {
  color: white !important;
}

.label {
  font-family: inherit;
  color: black !important;
}

.label text {
  fill: black !important;
}

.node rect,
.node circle,
.node ellipse,
.node polygon,
.node path {
  fill: white !important;
  stroke: black !important;
  stroke-width: 1px;
  /*stroke-dasharray: 3px;*/
}

.node .label {
  text-align: center;
}
.node.clickable {
  cursor: pointer;
}

.arrowheadPath {
  fill: white !important;
}

.edgePath .path {
  stroke: white !important;
  stroke-width: 1.5px;
}

.flowchart-link {
  stroke: white !important;
  fill: none;
}

.edgeLabel {
  background-color: #1D2024 !important;
  text-align: center;
  color: white !important;
}
.edgeLabel rect {
  fill: transparent !important;
  opacity: 0.5;
}

.cluster rect {
  fill: transparent !important;
  stroke: white !important;
}

/* ------------------- Code highlighting ------------------- */
.hljs {
  background: #1E1E1E;
  color: #DCDCDC;
}

.hljs-keyword,
.hljs-literal,
.hljs-symbol,
.hljs-name {
  color: #569CD6;
}
.hljs-link {
  color: #569CD6;
  text-decoration: underline;
}

.hljs-built_in,
.hljs-type {
  color: #4EC9B0;
}

.hljs-number,
.hljs-class {
  color: #B8D7A3;
}

.hljs-string,
.hljs-meta-string {
  color: #D69D85;
}

.hljs-regexp,
.hljs-template-tag {
  color: #9A5334;
}

.hljs-subst,
.hljs-formula {
  color: #DCDCDC;
}

.hljs-function > .hljs-params {
  color: #DCDCDC;
}

.hljs-comment,
.hljs-quote {
  color: #46853c;
  font-style: italic;
}

.hljs-doctag {
  color: #608B4E;
}

.hljs-meta,
.hljs-meta-keyword,
.hljs-tag {
  color: #9B9B9B;
}

.hljs-variable,
.hljs-template-variable {
  color: #BD63C5;
}

.hljs-attr,
.hljs-attribute {
  color: #9CDCFE;
}

.hljs-section {
  color: gold;
}

.hljs-emphasis {
  font-style: italic;
}

.hljs-strong {
  font-weight: bold;
}

.hljs-title,
.hljs-bullet,
.hljs-selector-tag,
.hljs-selector-id,
.hljs-selector-class,
.hljs-selector-attr,
.hljs-selector-pseudo {
  color: #D7BA7D;
}

.hljs-addition {
  background-color: #144212;
  display: inline-block;
  width: 100%;
}

.hljs-deletion {
  background-color: #600;
  display: inline-block;
  width: 100%;
}

/* ------------------- Coloured tags ------------------- */
/* Big box */
theo, lem, def, qdef, qtip, qexa, quo, box {
  width: 90%;
  display: inline-block;
  margin-left: 20px; 
  padding: 10px;
  border: 1px solid;
  border-left: 5px solid;
  border-radius: 2px; 
  word-wrap: break-word;
  box-shadow: 3px 3px 7px 0 rgba(0,0,0,0.3); 
}

/* Stacking boxes */

/* Small box */
sbox {
  width: 50%;
  display: inline-block;
  margin-left: 20px; 
  padding: 8px;
  border: 1px solid;
  border-left: 5px solid;
  border-radius: 2px; 
  word-wrap: break-word;
  box-shadow: 3px 3px 7px 0 rgba(0,0,0,0.3); 
}

theo strong,
warn strong,
lem strong,
ir-fax strong,
il-fax strong,
ir-n strong,
il-n strong {
  font-weight: bold;
  color : #000000;
}

/* Lemma */
lem {
  border-color: #5fa04e;
  background-color: #c5e5b4; 
  color : #000000;
}

lem:before {
  font-weight: bold;
  content: "Lemma:"
}

/* Warn */
warn {
  border-color: #f65354;
  background-color: #fad3d4; 
  color : #000000;
}

warn:before {
  content: "\26A0";
  margin-right: 5px;
  font-weight: bold;
  font-size: larger;
}

/* Theory */
theo {
  border-color: #229ade;
  background-color: #bbe5fb; 
  color : #000000;
}

theo:before {
  font-weight: bold;
  content: "Formula:";
  font-size: large;
}

theo > div.joplin-editable {
  text-align: center;
  font-size: 1.3em;
}

theo > div[class="joplin-editable"] > span.katex-display {
  border: 1px solid;
  padding: 5px;
  display: inline-block;
}

/* Definition */
def {
  border-color: gray;
  background-color: transparent; 
}

def:before {
	font-weight: bold;
	content: "\1F50E  Definition:";
  font-size: large;
  color: #ff5050;
}

/* Small box */
sbox {
  border-color: gray;
  background-color: transparent; 
}

/* Big box */
box {
  border-color: gray;
  background-color: transparent; 
}

/* Quick definition */
qdef {
  border-color: gray;
  background-color: transparent; 
}

qdef:before {
  content: "\2753";
  margin-right: 5px;
  font-weight: bold;
  font-size: larger;
}

/* Quick example */
qexa {
  border-color: gray;
  background-color: transparent; 
}

qexa:before {
  content: "\1F4CD";
  margin-right: 5px;
  font-weight: bold;
  font-size: larger;
}

/* Quick tip */
qtip {
  border-color: gray;
  background-color: transparent; 
}

qtip:before {
  content: "\2757";
  margin-right: 5px;
  font-weight: bold;
  font-size: larger;
}

/* Quote */
quo {
  border-color: gray;
  background-color: transparent;
  opacity: .7;
}

quo:before {
  content: "\"";
  margin-right: 3px;
  font-weight: bold;
  font-size: larger;
}

quo::after {
  content: "\"";
  margin-left: 3px;
  font-weight: bold;
  font-size: larger;
}

/* Definition container */
defs > blockquote {
  border-left: none;
  opacity: 1;
  border-top: 1px solid gray;
}

defs > blockquote  > p:first-child {
  font-size: xx-large;
}

defs > blockquote > blockquote {
  border-left: none;
  opacity: .8;
}

/* Definiton list container (30, 70) */
defl {
  display: block;
  border-top: 1px solid gray;
}

defl > blockquote {
  border-left: none;
  opacity: 1;
  border-bottom: 1px solid gray;
  display: grid;
  grid-template-columns: 30% 70%;
  margin: 2px;
  padding-left: 0.3em;
  padding-right: 4px;
  word-break: break-word;
  break-inside: avoid;
}

defl > blockquote > blockquote {
  border-left: none;
  opacity: .8;
  margin: 0;
  padding-left: 4px;
  word-break: break-word;
}

/* Translation container */
trns {
  display: grid;
  /*counter-reset: trans;*/
  border-top: 1px solid gray;
}

trns > blockquote {
  border-left: none;
  opacity: 1;
  border-bottom: 1px solid gray;
  display: grid;
  grid-template-columns: 1fr 1fr;
  margin: 2px;
  padding-left: 0.3em;
  padding-right: 4px;
  word-break: break-word;
}

trns > blockquote > blockquote {
  border-left: none;
  opacity: .8;
  margin: 0;
  padding-left: 4px;
  word-break: break-word;
}

/* Pros/cons container */
pcns {
  display: grid;
  /*counter-reset: trans;*/
  border: 1px solid gray;
}

pcns > blockquote {
  border-left: none;
  opacity: 1;
  
  display: grid;
  grid-template-columns: 1fr 1fr;
  margin: 2px;
  padding-left: 0.3em;
  word-break: break-word;
  color: rgb(32, 170, 32);
}

pcns > blockquote:not(:last-child) {
  border-bottom: 1px solid gray;
}

pcns > blockquote > p:first-child:before {
  /*content: counter(pcns, decimal) ". ";
  counter-increment: pcns;*/
  content: "\2714";
  margin-right: 5px;
  font-size: large;
}

pcns > blockquote > blockquote > p:first-child:before {
  content: "\274C";
  margin-right: 5px;
  font-size: large;
}

pcns > blockquote > blockquote {
  border-left: none;
  opacity: .8;
  margin: 0;
  padding: 0;
  word-break: break-word;
  color: rgb(231, 90, 90);
}

/* Timeline container */

tmln > ul, tmln > ul > li {
  list-style-type: none;
  padding: 0;
}

tmln > ul {
  margin-top: 2rem;
  border-radius: 12px;
  position: relative;
}

tmln > ul > li:before {
  content: '';
  width: 15px;
  height: 15px;
  background: white;
  border: 1px solid gray;
  border-radius: 50%;
  position: absolute;
  left: -0.55rem;
  top: -10px;
}

tmln > ul > li:last-child {
  border: 0px;
  padding-bottom: 0;
  margin-left: 1px;
}

tmln > ul > li {
  padding-bottom: 1.5rem;
  border-left: 1px solid gray;
  position: relative;
  padding-left: 20px;
}

/* ------------------- Scan images ------------------- */

iscan, scan {
  width: 70%;
  height: 70%;
  position: relative;
  display: block;
  overflow: hidden;
  margin-right: auto;
  margin-left: auto;
}

iscan img {
  -webkit-filter: invert(1);
  filter: invert(1);
  display: block;
}


iscan p {
  text-align: center;
  margin: 0;
  opacity: 0.8;
}

scan img {
  display: block;
}

scan p {
  text-align: center;
  margin: 0;
  opacity: 0.8;
}

/* Tooltip container */
tt {
  font: inherit;
  position: relative;
  border-bottom: 1px dashed dimgray;
}

tt::after {
  content: "\2753";
  font-size: 15px;
  margin-bottom: 2px;
  z-index: 1;
  position: absolute;
  bottom: 7px;
}

tt:hover::after {
  font: inherit;
  background: #b8bbbe;
  color:#000000;
  border: 1px solid;
  border-color: rgb(105, 105, 105);
  border-radius: 4px;
  
  content: attr(title);
  display: block;
  bottom: 100%;
  margin-bottom: 10px;
  padding: 8px;
  position: absolute;    
  width: 280px;
  z-index: 1;
}

/* 
tt .tooltiptext {
  visibility: hidden;
  width: 120px;
  background-color: black;
  color: #fff;
  text-align: center;
  padding: 5px 0;
  border-radius: 6px;
 
  position: absolute;
  z-index: 1;
}


tt:hover .tooltiptext {
  visibility: visible;
}

tt .tooltiptext::after {
  content: " ";
  position: absolute;
  top: 50%;
  right: 100%; 
  margin-top: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: transparent black transparent transparent;
}
*/

/* ------------------- Exporting notes to HTML ------------------- */

.exported-note {
  padding: 0;
  margin-left: 25%;
  margin-right: 25%;
}

.exported-note pre {
  padding: 5px;
  border-radius: 4px;
}

.exported-note .inline-code {
  font-size: medium;
  border: 1px solid rgb(175, 175, 175);
  padding: 4px;
}

/* ------------------- Exporting notes to PDF ------------------- */
@media print {

  /* Definition body 
  dl {
    border: 1px solid white;
    border-radius: 5px;
    padding: 8px;
    background-color: #747474;
    color: white;
  }

    Definition title 
  dt {
    font-size: large;
    font-weight: bold;
    padding: 5px;
    text-decoration: underline;
    color: white;
  }*/

  /* Inline code */
  .inline-code {
    font-size: large;
    border: 1px solid rgb(175, 175, 175);
    padding: 4px;
  }

  /* Spoiler block title */
  .summary-title {
    background-color: none;
  }

  /* Spoiler block body */
  .summary-content {
    background-color: none;
    font-size: large;
    font-family: sans-serif;
  }

  dia > p > img {
    background-color: transparent;
    border: none;
  }

  /* Eco-printing */
  /*
  b, strong {
    font-weight: bold;
    color: black;
  }*/

  theo,
  lem,
  def,
  qdef,
  qtip,
  qexa,
  quo,
  warn,
  sbox {
    background: transparent;
    box-shadow: none;
    border-color: lightgray;
  }

  dl {
    background: transparent;
    box-shadow: none;
    border-color: lightgray;
  }

  dt::before {
    /*content: "";*/
  }

  .hljs {
    background: transparent;
    color: #383838;
    /*color: black !important;*/
  }

  .hljs-function > .hljs-params {
    color: #383838;
  }

  .hljs-keyword,
  .hljs-literal,
  .hljs-symbol,
  .hljs-name {
    color: #2d89d4;
  }
  .hljs-link {
    color: #2d89d4;
    text-decoration: underline;
  }

  .hljs-built_in,
  .hljs-type {
    color: #21ccaa;
  }

  .hljs-number,
  .hljs-class {
    color: #7aee2d;
  }

  .hljs-string,
  .hljs-meta-string {
    color: #d87f58;
  }

  .hljs-title,
  .hljs-bullet,
  .hljs-selector-tag,
  .hljs-selector-id,
  .hljs-selector-class,
  .hljs-selector-attr,
  .hljs-selector-pseudo {
    color: #f19a28;
  }

  body {
    margin: 0;
  }

  .exported-note {
    padding: 0;
    margin: 0;
  }

  .jop-tinymce table tr:nth-child(even), table tr:nth-child(even) {
    background: transparent;
  }

  .spoiler-block {
    background: transparent;
    box-shadow: none;
  }
    
  #rendered-md > * {
    break-inside: avoid;
  }
  
  /*h2 {
    break-before: always;
    page-break-before: always;
  }
  trns > blockquote {
    page-break-inside: avoid;
    break-inside: avoid;
    page-break-after: auto;
  }
  trns {
    break-inside: avoid;
  }*/
}